body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faebeb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App h1 {
  text-align: center;
  font-size: 3rem;
  color: #e27396;
}

.search-box-container {
  display: flex;
  justify-content: center;
}
input {
  text-align: center;
  padding: 1rem;
  width: 50%;
  border: #e27396 solid 1px;
  border-radius: 15px;
  font-size: large;
}

.cocktail-list {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  flex-wrap: wrap;
}

.cocktail-card {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  border: #e27396 solid 1px;
  text-align: center;
  margin: 1rem;
  box-shadow: 1px 2px 3px -1px rgba(179, 170, 170, 1);
  cursor: pointer;
  color: #c66c89;
  transition: 0.4s;
}

.cocktail-card:hover {
  background-color: #c66c89;
  color: white;
}

a {
  text-decoration: none;
}
